In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn.metrics import confusion_matrix,classification_report
from mlxtend.classifier import StackingClassifier
from vecstack import stacking
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
import warnings
warnings.filterwarnings('ignore')

In [2]:
train_data=pd.read_csv(r"C:\Users\ggomare\Downloads\Cell Phone Churn - TRAIN-1.csv")

In [3]:
train_data

,MOUMO,MOUPMO,MOU3MO,MOUCH1M,MOUCH3M,CUM3MCH,CUSTMOS,LONGD,CALLW,LINES,...,INCOME,SPORTS,NATURE,ARTS,HRS_TV,TRAVEL,EDUC,TOTMOU,TOTCHNG,TARGET
0,105,15,99,90,-84,6,11,0,0,2,...,51000,B,1,N,10,None,Bachelors,219,6,0
1,999,1200,1145,-201,55,-146,3,1,1,2,...,80000,A,0,N,40,Domestic,Masters,3344,-146,1
2,5,2,1,3,1,4,23,0,0,1,...,80000,C,0,Y,50,International,HighSchool,8,4,1
3,600,456,398,144,58,202,13,0,1,1,...,88000,A,1,N,0,International,Masters,1454,202,1
4,2,0,0,0,0,0,1,0,0,1,...,29000,B,0,N,75,Domestic,HighSchool,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1690,333,277,144,56,133,189,9,0,1,1,...,44000,F,1,N,35,International,Masters,754,189,1
1691,550,100,500,450,-400,50,17,1,1,1,...,320000,D,0,Y,50,InterGalactic,GED,1150,50,0
1692,398,144,630,254,-486,-232,36,0,0,2,...,145000,E,1,N,40,Domestic,Masters,1172,-232,0
1693,5,15,99,-10,-84,-94,11,0,0,2,...,51000,B,1,N,10,None,Bachelors,119,-94,0
1694,5,2,1,3,1,4,23,0,0,1,...,80000,C,0,Y,50,International,HighSchool,8,4,1

In [4]:
test_data=pd.read_csv(r"C:\Users\ggomare\Downloads\Cell Phone Churn - TEST-1.csv")

In [5]:
test_data

,MOUMO,MOUPMO,MOU3MO,MOUCH1M,MOUCH3M,CUM3MCH,CUSTMOS,LONGD,CALLW,LINES,...,INCOME,SPORTS,NATURE,ARTS,HRS_TV,TRAVEL,EDUC,TOTMOU,TOTCHNG,TARGET
0,344,232,455,112,-223,-111,11,1,1,2,...,75000,B,1,Y,25,InterGalactic,GED,1031,-111,0
1,555,444,678,111,-234,-123,27,1,1,2,...,134000,na,1,Y,5,Domestic,PhD,1677,-123,0
2,2,0,4,1,-3,-2,4,0,0,1,...,53000,na,1,Y,125,None,Bachelors,6,-2,0
3,5678,3457,2156,2221,1301,3522,14,1,1,1,...,33000,A,1,Y,25,Domestic,Masters,11291,3522,0
4,333,122,144,211,-22,189,9,0,1,1,...,44000,F,1,N,35,International,Masters,599,189,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,2,0,0,0,0,0,1,0,0,1,...,29000,B,0,N,75,Domestic,HighSchool,0,0,0
371,53,34,29,19,5,24,50,1,1,1,...,48000,na,1,Y,20,None,GED,116,24,1
372,99,2,0,97,0,0,2,0,0,1,...,17000,F,1,Y,70,Domestic,Bachelors,0,0,0
373,78,54,24,24,30,54,6,1,0,1,...,66000,A,0,N,20,International,Bachelors,156,54,1
374,999,1200,1145,-201,55,-146,3,1,1,2,...,80000,A,0,N,40,Domestic,PhD,3344,-146,1

In [10]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 24 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MOUMO    1695 non-null   int64
 1   MOUPMO   1695 non-null   int64
 2   MOU3MO   1695 non-null   int64
 3   MOUCH1M  1695 non-null   int64
 4   MOUCH3M  1695 non-null   int64
 5   CUM3MCH  1695 non-null   int64
 6   CUSTMOS  1695 non-null   int64
 7   LONGD    1695 non-null   int64
 8   CALLW    1695 non-null   int64
 9   LINES    1695 non-null   int64
 10  VOICEM   1695 non-null   int64
 11  CELL     1695 non-null   int64
 12  CONVB    1695 non-null   int64
 13  SEX      1695 non-null   object
 14  INCOME   1695 non-null   int64
 15  SPORTS   1695 non-null   object
 16  NATURE   1695 non-null   int64
 17  ARTS     1695 non-null   object
 18  HRS_TV   1695 non-null   int64
 19  TRAVEL   1695 non-null   object
 20  EDUC     1695 non-null   object
 21  TOTMOU   1695 non-null   int64
 22  TOTCHNG  1695 non-null   int64
 23  TARGET   1695 non-null   int64
dtypes: int64(19), object(5)
memory usage: 317.9+ KB

# Preprocessing of dataset

In [12]:
train_data["CONVB"].replace({
    'No':0, 'Yes':1
},inplace=True)

In [13]:
train_data["SEX"].unique()

array(['F', 'M'], dtype=object)

In [14]:
train_data["SEX"].replace({
    'F':0, 'M':1
},inplace=True)

In [15]:
train_data["SPORTS"].unique()

array(['B', 'A', 'C', 'E', 'na', 'D', 'F'], dtype=object)

In [16]:
train_data["SPORTS"].replace({
    'B':1, 'A':0, 'C':2, 'E':3, 'na':6, 'D':4, 'F':5
},inplace=True)

In [17]:
train_data["ARTS"].unique()

array(['N', 'Y'], dtype=object)

In [18]:
train_data["ARTS"].replace({
    'N':0, 'Y':1
},inplace=True)

In [19]:
train_data["TRAVEL"].unique()

array(['None', 'Domestic', 'International', 'InterGalactic'], dtype=object)

In [20]:
train_data["TRAVEL"].replace({
    'None':0, 'Domestic':1, 'International':2, 'InterGalactic':3
},inplace=True)

In [21]:
train_data["EDUC"].unique()

array(['Bachelors', 'Masters', 'HighSchool', 'PhD', 'GED', 'Elementary'],
      dtype=object)

In [22]:
train_data["EDUC"].replace({
   'Bachelors':0, 'Masters':1, 'HighSchool':2, 'PhD':3, 'GED':4, 'Elementary':5
},inplace=True)

In [23]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 24 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MOUMO    1695 non-null   int64
 1   MOUPMO   1695 non-null   int64
 2   MOU3MO   1695 non-null   int64
 3   MOUCH1M  1695 non-null   int64
 4   MOUCH3M  1695 non-null   int64
 5   CUM3MCH  1695 non-null   int64
 6   CUSTMOS  1695 non-null   int64
 7   LONGD    1695 non-null   int64
 8   CALLW    1695 non-null   int64
 9   LINES    1695 non-null   int64
 10  VOICEM   1695 non-null   int64
 11  CELL     1695 non-null   int64
 12  CONVB    1695 non-null   int64
 13  SEX      1695 non-null   int64
 14  INCOME   1695 non-null   int64
 15  SPORTS   1695 non-null   int64
 16  NATURE   1695 non-null   int64
 17  ARTS     1695 non-null   int64
 18  HRS_TV   1695 non-null   int64
 19  TRAVEL   1695 non-null   int64
 20  EDUC     1695 non-null   int64
 21  TOTMOU   1695 non-null   int64
 22  TOTCHNG  1695 non-null   int64
 23  TARGET   1695 non-null   int64
dtypes: int64(24)
memory usage: 317.9 KB

In [24]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 24 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MOUMO    375 non-null    int64
 1   MOUPMO   375 non-null    int64
 2   MOU3MO   375 non-null    int64
 3   MOUCH1M  375 non-null    int64
 4   MOUCH3M  375 non-null    int64
 5   CUM3MCH  375 non-null    int64
 6   CUSTMOS  375 non-null    int64
 7   LONGD    375 non-null    int64
 8   CALLW    375 non-null    int64
 9   LINES    375 non-null    int64
 10  VOICEM   375 non-null    int64
 11  CELL     375 non-null    int64
 12  CONVB    375 non-null    object
 13  SEX      375 non-null    object
 14  INCOME   375 non-null    int64
 15  SPORTS   375 non-null    object
 16  NATURE   375 non-null    int64
 17  ARTS     375 non-null    object
 18  HRS_TV   375 non-null    int64
 19  TRAVEL   375 non-null    object
 20  EDUC     375 non-null    object
 21  TOTMOU   375 non-null    int64
 22  TOTCHNG  375 non-null    int64
 23  TARGET   375 non-null    int64
dtypes: int64(18), object(6)
memory usage: 70.4+ KB

In [25]:
test_data["CONVB"].replace({
    'No':0, 'Yes':1
},inplace=True)
test_data["SEX"].replace({
    'F':0, 'M':1
},inplace=True)
test_data["SPORTS"].replace({
    'B':1, 'A':0, 'C':2, 'E':3, 'na':6, 'D':4, 'F':5
},inplace=True)
test_data["ARTS"].replace({
    'N':0, 'Y':1
},inplace=True)
test_data["TRAVEL"].replace({
    'None':0, 'Domestic':1, 'International':2, 'InterGalactic':3
},inplace=True)
test_data["EDUC"].replace({
   'Bachelors':0, 'Masters':1, 'HighSchool':2, 'PhD':3, 'GED':4, 'Elementary':5
},inplace=True)

In [26]:
test_data

,MOUMO,MOUPMO,MOU3MO,MOUCH1M,MOUCH3M,CUM3MCH,CUSTMOS,LONGD,CALLW,LINES,...,INCOME,SPORTS,NATURE,ARTS,HRS_TV,TRAVEL,EDUC,TOTMOU,TOTCHNG,TARGET
0,344,232,455,112,-223,-111,11,1,1,2,...,75000,1,1,1,25,3,4,1031,-111,0
1,555,444,678,111,-234,-123,27,1,1,2,...,134000,6,1,1,5,1,3,1677,-123,0
2,2,0,4,1,-3,-2,4,0,0,1,...,53000,6,1,1,125,0,0,6,-2,0
3,5678,3457,2156,2221,1301,3522,14,1,1,1,...,33000,0,1,1,25,1,1,11291,3522,0
4,333,122,144,211,-22,189,9,0,1,1,...,44000,5,1,0,35,2,1,599,189,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,2,0,0,0,0,0,1,0,0,1,...,29000,1,0,0,75,1,2,0,0,0
371,53,34,29,19,5,24,50,1,1,1,...,48000,6,1,1,20,0,4,116,24,1
372,99,2,0,97,0,0,2,0,0,1,...,17000,5,1,1,70,1,0,0,0,0
373,78,54,24,24,30,54,6,1,0,1,...,66000,0,0,0,20,2,0,156,54,1
374,999,1200,1145,-201,55,-146,3,1,1,2,...,80000,0,0,0,40,1,3,3344,-146,1

In [27]:
x_train=train_data.drop(columns=["TARGET"])
y_train=train_data["TARGET"]
x_test=test_data.drop(columns=["TARGET"])
y_test=test_data["TARGET"]

# ALL CLASSIFIER MODELS

In [29]:
build1=MLPClassifier()
build1.fit(x_train,y_train)
predict1=build1.predict(x_test)
print(classification_report(predict1,y_test))

              precision    recall  f1-score   support

           0       0.07      0.84      0.13        19
           1       0.98      0.38      0.55       356

    accuracy                           0.41       375
   macro avg       0.52      0.61      0.34       375
weighted avg       0.93      0.41      0.53       375

In [30]:
build2=SVC()
build2.fit(x_train,y_train)
predict2=build2.predict(x_test)
print(classification_report(predict2,y_test))

              precision    recall  f1-score   support

           0       0.96      0.65      0.78       348
           1       0.13      0.67      0.22        27

    accuracy                           0.65       375
   macro avg       0.55      0.66      0.50       375
weighted avg       0.90      0.65      0.73       375

In [31]:
build3=DecisionTreeClassifier()
build3.fit(x_train,y_train)
predict3=build3.predict(x_test)
print(classification_report(predict3,y_test))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00       237
           1       0.99      1.00      0.99       138

    accuracy                           0.99       375
   macro avg       0.99      1.00      0.99       375
weighted avg       0.99      0.99      0.99       375

In [32]:
build4=RandomForestClassifier()
build4.fit(x_train,y_train)
predict4=build4.predict(x_test)
print(classification_report(predict4,y_test))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00       237
           1       0.99      1.00      0.99       138

    accuracy                           0.99       375
   macro avg       0.99      1.00      0.99       375
weighted avg       0.99      0.99      0.99       375

# Hyperparameter for RandomForestClassifier

In [33]:
rfc1=RandomForestClassifier(random_state=42)
param_grid = { 

     'max_features': ['sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}
model32= RandomizedSearchCV(estimator=rfc1,param_distributions=param_grid ,cv= 5)
model32.fit(x_train,y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [4, 5, 6, 7, 8],
                                        'max_features': ['sqrt', 'log2']})

In [34]:
model32.best_params_

{'max_features': 'sqrt', 'max_depth': 7, 'criterion': 'gini'}

In [36]:
bestmodel=RandomForestClassifier(max_features= 'sqrt', max_depth= 7, criterion= 'gini')
bestmodel.fit(x_train,y_train)
predictHT=bestmodel.predict(x_test)
print(classification_report(predictHT,y_test))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00       237
           1       0.99      1.00      0.99       138

    accuracy                           0.99       375
   macro avg       0.99      1.00      0.99       375
weighted avg       0.99      0.99      0.99       375

# Selecting top 5 features from the all features

In [37]:
from sklearn.feature_selection import SelectFromModel
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_classif
feature_5= SelectKBest(f_classif, k=5)
feature_5.fit(x_train,y_train)
feature_5_index = feature_5.get_support(True)
print ("feature index_5 =", feature_5_index)

feature index_5 = [ 1  8 11 12 17]

In [38]:
final_train=train_data.iloc[:,feature_5_index]

In [39]:
final_train

      MOUPMO  CALLW  CELL  CONVB  ARTS
0         15      0     0      0     0
1       1200      1     1      1     0
2          2      0     0      0     1
3        456      1     0      1     0
4          0      0     0      0     0
...      ...    ...   ...    ...   ...
1690     277      1     1      1     0
1691     100      1     0      0     1
1692     144      0     0      0     0
1693      15      0     0      0     0
1694       2      0     0      0     1

[1695 rows x 5 columns]

# Staking model

In [40]:
models = [ RandomForestClassifier(), MLPClassifier(), LinearSVC(),  DecisionTreeClassifier() ]
      
S_Train, S_Test = stacking(models,                   
                           x_train, y_train, x_test,   
                           regression=False, 
     
                           mode='oof_pred_bag', 
       
                           needs_proba=False,
         
                           save_dir=None, 
            
                           metric=accuracy_score, 
    
                           n_folds=4, 
                 
                           stratified=True,
            
                           shuffle=True,  
            
                           random_state=0,    
         
                           verbose=2)

task:         [classification]
n_classes:    [2]
metric:       [accuracy_score]
mode:         [oof_pred_bag]
n_models:     [4]

model  0:     [RandomForestClassifier]
    fold  0:  [0.98113208]
    fold  1:  [0.98820755]
    fold  2:  [0.98820755]
    fold  3:  [0.99290780]
    ----
    MEAN:     [0.98761374] + [0.00420548]
    FULL:     [0.98761062]

model  1:     [MLPClassifier]
    fold  0:  [0.72169811]
    fold  1:  [0.72169811]
    fold  2:  [0.75471698]
    fold  3:  [0.70685579]
    ----
    MEAN:     [0.72624225] + [0.01752101]
    FULL:     [0.72625369]

model  2:     [LinearSVC]
    fold  0:  [0.67452830]
    fold  1:  [0.63443396]
    fold  2:  [0.62971698]
    fold  3:  [0.64066194]
    ----
    MEAN:     [0.64483530] + [0.01757728]
    FULL:     [0.64483776]

model  3:     [DecisionTreeClassifier]
    fold  0:  [0.98113208]
    fold  1:  [0.98820755]
    fold  2:  [0.98820755]
    fold  3:  [0.99290780]
    ----
    MEAN:     [0.98761374] + [0.00420548]
    FULL:     [0.98761062]

# Meta_classifier as KNN

In [41]:
metamodel=KNeighborsClassifier()
metamodel.fit(S_Train,y_train)
final_predict=metamodel.predict(S_Test)
print(classification_report(final_predict,y_test))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00       237
           1       0.99      1.00      0.99       138

    accuracy                           0.99       375
   macro avg       0.99      1.00      0.99       375
weighted avg       0.99      0.99      0.99       375