In [1]:
import pandas as pd
import numpy as np

In [2]:
Ticket_primary=pd.read_csv(r"C:\Users\ggomare\Downloads\Project Data-20230108T193142Z-001\Project Data\Data\Ticket_Primary.csv")

C:\Users\ggomare\AppData\Local\Temp\ipykernel_22976\3493402878.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  Ticket_primary=pd.read_csv(r"C:\Users\ggomare\Downloads\Project Data-20230108T193142Z-001\Project Data\Data\Ticket_Primary.csv")

In [3]:
Ticket_primary

,Ticket_ID,Date_of_Service,Incident_ID,Block,prefix,street,Incident_City,Incident_State,Incident_Zip,Dispatch_Complaint,Primary_Complaint,Secondary_Complaint,Ticket_Author,Specific_Property_Use,Run_Disp
0,186716,1/1/2017,F2017000010,400.0,N,PASADENA,MESA,AZ,85201,ASSLT,Fall,NaN,K. Jester,1 or 2 family dwelling,"Evaluated / Treated, Refused Transport (Refus..."
1,186777,1/1/2017,F2017000066,200.0,S,GREENFIELD,MESA,AZ,85206,MEDALM,Anxiety,NaN,R. Greenberg,1 or 2 family dwelling,"Treated, Transferred Care to Transport Unit"
2,186807,1/1/2017,F2017000099,400.0,N,GILBERT,MESA,AZ,85203,ALOC,Drug / ETOH / Intoxication,NaN,S. Martinez,"Street, Other",Treated/Transported with Medic Ride-in
3,186821,1/1/2017,F2017000116,200.0,N,CENTENNIAL,MESA,AZ,85201,FALL,NaN,NaN,T. Burnette,"Hotel/motel, commercial",Treated/Transported with Medic Ride-in
4,186888,1/1/2017,F2017000181,300.0,E,BROWN,MESA,AZ,85201,DB,Difficutly Breathing,NaN,M. Castillo,Resd. Care Facility - 6 to 10,"Treated, Transferred Care to Transport Unit"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298889,859966,12/31/2022,F2022129158,2300.0,S,FARNSWORTH,MESA,AZ,85209,FALLB,None,NaN,NaN,1 or 2 family dwelling,Refused Evaluation/Treatment/Transport (Refusa...
298890,859981,12/31/2022,F2022129178,9100.0,E,BROWN,MESA,AZ,85207,UNKMED,None,NaN,NaN,Assisted Living Facility,Refused Evaluation/Treatment/Transport (Refusa...
298891,860138,12/31/2022,F2022129279,1400.0,W,ISABELLA,MESA,AZ,85202,ALOC,Weakness-General,NaN,NaN,Multifamily dwelling,Transported by MFMD Rescue
298892,860267,12/31/2022,F2022129383,6700.0,E,SUPERSTITION SPRINGS,MESA,AZ,85206,ILLB,Suicide Threat,NaN,NaN,"Hotel/motel, commercial",Transported by MFMD Rescue
298893,860295,12/31/2022,F2022129416,7300.0,E,PUEBLO,MESA,AZ,85208,FALL,Syncope / Fainting,NaN,NaN,1 or 2 family dwelling,Treated/Transferred Care to Transport Unit

In [4]:
Ticket_primary["Run_Disp"].value_counts()

Treated, Transferred Care to Transport Unit                     81418
Treated/Transferred Care to Transport Unit                      54547
Evaluated/Treated, Refused Transport (Refusal Form)             37988
Treated/Transported with Medic Ride-in                          36674
Transported by MFMD Rescue                                      36240
Evaluated / Treated, Refused  Transport (Refusal Form)          35272
Transported by MFMD Rescue with Medic Ride-in                    6737
Refused Evaluation/Treatment/Transport (Refusal Form)            5001
Patient DOA-Resuscitation Attempted (Without Transport)          1418
Transported by PD to Other Healthcare Facility                   1035
Treated, Released per CM Protocol                                 787
Transfer Care to CPR Behavioral                                   636
Transport to Behavioral Health Facility                           532
Transport to Detox Facility                                       187
APP Treat & Refer (CCU, CCS Only)                                 129
Treated/Transferred Care to Other Agency                          102
APP Treat & Release (CCU. CCS Only)                                59
Treated, Transferred Care to Other Agency                          38
Transfer Care to CM Medical                                        23
Treated/Transported by this EMS Unit (Fire Unit)                   23
Patient DOA-Resuscitation Attempted (With Transport)               21
Treated, Transported by this EMS Unit (Fire Truck only)            16
Treated, Transported by this EMS Unit (Fire Unit)                   9
Treated, Transported by this EMS Unit (Fire Truck, CCU, TRV)        1
Evaluated / Treated, Refused Transport (Refusal Form)               1
Name: Run_Disp, dtype: int64

In [4]:
Ticket_primary.isnull().sum()

Ticket_ID                     0
Date_of_Service               0
Incident_ID                   0
Block                     12146
prefix                    12111
street                     4720
Incident_City              4770
Incident_State                0
Incident_Zip               1019
Dispatch_Complaint           71
Primary_Complaint         18379
Secondary_Complaint      266577
Ticket_Author            281908
Specific_Property_Use        21
Run_Disp                      0
dtype: int64

In [5]:
Ticket_primary.columns

Index(['Ticket_ID', 'Date_of_Service', 'Incident_ID', 'Block', 'prefix',
       'street', 'Incident_City', 'Incident_State', 'Incident_Zip',
       'Dispatch_Complaint', 'Primary_Complaint', 'Secondary_Complaint',
       'Ticket_Author', 'Specific_Property_Use', 'Run_Disp'],
      dtype='object')

In [6]:
Ticket_primary=Ticket_primary.drop(columns=['Date_of_Service','Incident_ID', 'Block', 'prefix',
       'street', 'Incident_City', 'Incident_State', 'Incident_Zip','Ticket_Author','Specific_Property_Use'])

In [7]:
#Final 1st file

In [8]:
Ticket_primary

,Ticket_ID,Dispatch_Complaint,Primary_Complaint,Secondary_Complaint,Run_Disp
0,186716,ASSLT,Fall,NaN,"Evaluated / Treated, Refused Transport (Refus..."
1,186777,MEDALM,Anxiety,NaN,"Treated, Transferred Care to Transport Unit"
2,186807,ALOC,Drug / ETOH / Intoxication,NaN,Treated/Transported with Medic Ride-in
3,186821,FALL,NaN,NaN,Treated/Transported with Medic Ride-in
4,186888,DB,Difficutly Breathing,NaN,"Treated, Transferred Care to Transport Unit"
...,...,...,...,...,...
298889,859966,FALLB,None,NaN,Refused Evaluation/Treatment/Transport (Refusa...
298890,859981,UNKMED,None,NaN,Refused Evaluation/Treatment/Transport (Refusa...
298891,860138,ALOC,Weakness-General,NaN,Transported by MFMD Rescue
298892,860267,ILLB,Suicide Threat,NaN,Transported by MFMD Rescue
298893,860295,FALL,Syncope / Fainting,NaN,Treated/Transferred Care to Transport Unit

In [9]:
Patient_Info=pd.read_csv(r"C:\Users\ggomare\Downloads\Project Data-20230108T193142Z-001\Project Data\Data\Patient_Info.csv")

In [10]:
Patient_Info.columns

Index(['Ticket_ID', 'System_Cd', 'Patient_DOB', 'PtNameAnon', 'PtAcct',
       'Patient_Sex', 'Patient_Ethnicity', 'Patient_City', 'Patient_State',
       'Patient_Zip', 'Patient_Weight_In_Lbs', 'Patient_Height_In_Inches',
       'Patient_Resp_Party_Relationship', 'Patient_Adv_Directives',
       'Patient_Age_Bucket'],
      dtype='object')

In [11]:
Patient_Info=Patient_Info[['Ticket_ID','Patient_Weight_In_Lbs', 'Patient_Height_In_Inches','Patient_Age_Bucket']]

In [12]:
#Final 2nd File

In [13]:
Patient_Info

,Ticket_ID,Patient_Weight_In_Lbs,Patient_Height_In_Inches,Patient_Age_Bucket
0,227193,200.0,NaN,75 Yrs+ Elderly+
1,230844,180.0,NaN,19-25 Yrs Young Adults
2,214264,190.0,NaN,26-64 Yrs Adults
3,201021,165.0,NaN,26-64 Yrs Adults
4,205899,200.0,NaN,75 Yrs+ Elderly+
...,...,...,...,...
298889,859152,175.0,NaN,26-64 Yrs Adults
298890,853502,280.0,NaN,75 Yrs+ Elderly+
298891,859186,150.0,NaN,26-64 Yrs Adults
298892,859301,207.0,72.0,75 Yrs+ Elderly+
298893,732574,124.0,NaN,26-64 Yrs Adults

In [14]:
Impression=pd.read_csv(r"C:\Users\ggomare\Downloads\Project Data-20230108T193142Z-001\Project Data\Data\Impression.csv")

In [15]:
Impression.columns

Index(['Ticket_ID', 'Impression_Num', 'Impression_Value', 'Code_Type',
       'Code_Value'],
      dtype='object')

In [16]:
Impression=Impression[['Ticket_ID','Impression_Value']]

In [17]:
#Final 4th file

In [18]:
Impression

        Ticket_ID                                   Impression_Value
0          187054                                     Injury of knee
1          187436         Alcohol Use, Unspecified with Intoxication
2          187436                              Altered mental status
3          187536             General Illness- Describe in Narrative
4          187536                                              Fever
...           ...                                                ...
357727     858643                             Normal Findings, Adult
357728     858643                             Normal Findings, Adult
357729     859729                                 Chest Pain-Cardiac
357730     859797                   Respiratory failure, unspecified
357731     859797  Respiratory distress, acute (difficulty breath...

[357732 rows x 2 columns]

In [19]:
Impression.drop_duplicates(inplace=True)

In [20]:
Impression

        Ticket_ID                                   Impression_Value
0          187054                                     Injury of knee
1          187436         Alcohol Use, Unspecified with Intoxication
2          187436                              Altered mental status
3          187536             General Illness- Describe in Narrative
4          187536                                              Fever
...           ...                                                ...
357725     858394                             Normal Findings, Adult
357727     858643                             Normal Findings, Adult
357729     859729                                 Chest Pain-Cardiac
357730     859797                   Respiratory failure, unspecified
357731     859797  Respiratory distress, acute (difficulty breath...

[352545 rows x 2 columns]

In [21]:
Impression['Impression_Value']=Impression.groupby(['Ticket_ID'])['Impression_Value'].transform(lambda x : ','.join(x))

In [22]:
Impression

        Ticket_ID                                   Impression_Value
0          187054                                     Injury of knee
1          187436  Alcohol Use, Unspecified with Intoxication,Alt...
2          187436  Alcohol Use, Unspecified with Intoxication,Alt...
3          187536       General Illness- Describe in Narrative,Fever
4          187536       General Illness- Describe in Narrative,Fever
...           ...                                                ...
357725     858394                             Normal Findings, Adult
357727     858643                             Normal Findings, Adult
357729     859729                                 Chest Pain-Cardiac
357730     859797  Respiratory failure, unspecified,Respiratory d...
357731     859797  Respiratory failure, unspecified,Respiratory d...

[352545 rows x 2 columns]

In [23]:
Impression.drop_duplicates(inplace=True)

In [24]:
Impression

        Ticket_ID                                   Impression_Value
0          187054                                     Injury of knee
1          187436  Alcohol Use, Unspecified with Intoxication,Alt...
3          187536       General Illness- Describe in Narrative,Fever
5          189626             General Illness- Describe in Narrative
6          189793                                            Anxiety
...           ...                                                ...
357724     853978             General Illness- Describe in Narrative
357725     858394                             Normal Findings, Adult
357727     858643                             Normal Findings, Adult
357729     859729                                 Chest Pain-Cardiac
357730     859797  Respiratory failure, unspecified,Respiratory d...

[298567 rows x 2 columns]

In [25]:
Cont_History=pd.read_csv(r"C:\Users\ggomare\Downloads\Project Data-20230108T193142Z-001\Project Data\Data\Cond_History.csv")

In [26]:
Cont_History.columns

Index(['Ticket_ID', 'Cond_History_Zoi_Section', 'Cond_History_Category',
       'Cond_History_Name', 'Heart_Failure_Flag', 'Diabetes_Flag', 'COPD_Flag',
       'Pneumonia_Flag'],
      dtype='object')

In [27]:
Cont_History=Cont_History[['Ticket_ID','Cond_History_Category','Heart_Failure_Flag', 'Diabetes_Flag', 'COPD_Flag',
       'Pneumonia_Flag']]

In [28]:
Cont_History

,Ticket_ID,Cond_History_Category,Heart_Failure_Flag,Diabetes_Flag,COPD_Flag,Pneumonia_Flag
0,191447,Diabetes,0,0,0,0
1,191447,High Blood Pressure,0,0,0,0
2,191566,Asthma,0,0,0,0
3,194087,Barriers to Patient Care,0,0,0,0
4,194087,Asthma,0,0,0,0
...,...,...,...,...,...,...
529279,854893,BLOOD CLOT,0,0,0,0
529280,854893,High Cholesterol,0,0,0,0
529281,858180,Osteoarthritis,0,0,0,0
529282,858180,COPD,0,0,0,0
529283,858680,Seizure Disorders,0,0,0,0

In [29]:
Cont_History.drop_duplicates(inplace=True)

In [30]:
Cont_History

,Ticket_ID,Cond_History_Category,Heart_Failure_Flag,Diabetes_Flag,COPD_Flag,Pneumonia_Flag
0,191447,Diabetes,0,0,0,0
1,191447,High Blood Pressure,0,0,0,0
2,191566,Asthma,0,0,0,0
3,194087,Barriers to Patient Care,0,0,0,0
4,194087,Asthma,0,0,0,0
...,...,...,...,...,...,...
529279,854893,BLOOD CLOT,0,0,0,0
529280,854893,High Cholesterol,0,0,0,0
529281,858180,Osteoarthritis,0,0,0,0
529282,858180,COPD,0,0,0,0
529283,858680,Seizure Disorders,0,0,0,0

In [31]:
Cont_History['Cond_History_Category']=Cont_History.groupby(['Ticket_ID'])['Cond_History_Category'].transform(lambda x : ','.join(x))

In [32]:
Cont_History

,Ticket_ID,Cond_History_Category,Heart_Failure_Flag,Diabetes_Flag,COPD_Flag,Pneumonia_Flag
0,191447,"Diabetes,High Blood Pressure",0,0,0,0
1,191447,"Diabetes,High Blood Pressure",0,0,0,0
2,191566,Asthma,0,0,0,0
3,194087,"Barriers to Patient Care,Asthma,COPD",0,0,0,0
4,194087,"Barriers to Patient Care,Asthma,COPD",0,0,0,0
...,...,...,...,...,...,...
529279,854893,"BLOOD CLOT,High Cholesterol",0,0,0,0
529280,854893,"BLOOD CLOT,High Cholesterol",0,0,0,0
529281,858180,"Osteoarthritis,COPD",0,0,0,0
529282,858180,"Osteoarthritis,COPD",0,0,0,0
529283,858680,Seizure Disorders,0,0,0,0

In [33]:
Cont_History.drop_duplicates(inplace=True)

In [34]:
Cont_History

,Ticket_ID,Cond_History_Category,Heart_Failure_Flag,Diabetes_Flag,COPD_Flag,Pneumonia_Flag
0,191447,"Diabetes,High Blood Pressure",0,0,0,0
2,191566,Asthma,0,0,0,0
3,194087,"Barriers to Patient Care,Asthma,COPD",0,0,0,0
6,195459,"Liver Cancer,Non",0,0,0,0
8,196895,Hypertension (High Blood Pressure),0,0,0,0
...,...,...,...,...,...,...
529273,846039,"Pancreatic Cancer,Coronary Artery Bypass Surgery",0,0,0,0
529275,851462,"Cardiac, Other,Dementia,Hypertension (High Blo...",0,0,0,0
529279,854893,"BLOOD CLOT,High Cholesterol",0,0,0,0
529281,858180,"Osteoarthritis,COPD",0,0,0,0
529283,858680,Seizure Disorders,0,0,0,0

In [35]:
Medication=pd.read_csv(r"C:\Users\ggomare\Downloads\Project Data-20230108T193142Z-001\Project Data\Data\Medication.csv")

In [36]:
Medication

        Ticket_ID  Medication_Num     Medication
0          219750               1        Aspirin
1          219750               2      Oxycodone
2          219752               1         Keflex
3          219833               1  None Reported
4          219901               1     Amiodarone
...           ...             ...            ...
714058     188386               4        Lexapro
714059     188386               5     Lisinopril
714060     188386               6         Zyrtec
714061     188418               1     Metoprolol
714062     188418               2      Singulair

[714063 rows x 3 columns]

In [37]:
Medication=Medication.drop(columns=["Medication_Num"])

In [38]:
Medication

        Ticket_ID     Medication
0          219750        Aspirin
1          219750      Oxycodone
2          219752         Keflex
3          219833  None Reported
4          219901     Amiodarone
...           ...            ...
714058     188386        Lexapro
714059     188386     Lisinopril
714060     188386         Zyrtec
714061     188418     Metoprolol
714062     188418      Singulair

[714063 rows x 2 columns]

In [39]:
Medication['Medication']=Medication.groupby(['Ticket_ID'])['Medication'].transform(lambda x : ','.join(x))

In [40]:
Medication.drop_duplicates(inplace=True)

In [41]:
Medication

        Ticket_ID                                         Medication
0          219750                                  Aspirin,Oxycodone
2          219752                                             Keflex
3          219833                                      None Reported
4          219901  Amiodarone,calcium acetate,Coreg,Furosemide,Kl...
15         219986  Citalopram,Isosorbide,Levothyroxine Sodium,Los...
...           ...                                                ...
714039     188318                                      None Reported
714040     188350  carvedilol,gabapentin,Heparin,Humalog,Iron,Lan...
714049     188361  Aspirin,Diltiazem,Humulin N,Levothyroxine Sodi...
714055     188386  Amlodipine,atorvastatin,Dexilant,Lexapro,Lisin...
714061     188418                               Metoprolol,Singulair

[256571 rows x 2 columns]

In [42]:
Vitals_Long=pd.read_csv(r"C:\Users\ggomare\Downloads\Project Data-20230108T193142Z-001\Project Data\Data\Vitals_Long.csv")

In [43]:
Vitals_Long

,Ticket_ID,SysCD,SetTime,SetNumber,PerformedBy,VitalsName,VitalsValue,Ticket_Input_ID
0,474750,ZOI,2020-01-26 12:30:49.000,1,David Cox,Lung Sounds,Clear All Fields,40308462
1,474750,ZOI,2020-01-26 12:30:49.000,1,David Cox,Lung Sounds,Clear All Fields,40308462
2,474750,ZOI,2020-01-26 12:30:49.000,1,David Cox,Lung Sounds,Diminished Lower Left,40308462
3,474750,ZOI,2020-01-26 12:30:49.000,1,David Cox,Lung Sounds,Diminished Lower Left,40308462
4,474750,ZOI,2020-01-26 12:30:49.000,1,David Cox,Lung Sounds,Diminished Lower Left,40308462
...,...,...,...,...,...,...,...,...
5587146,547105,ZOI,2020-09-18 09:57:10.000,1,David Montemorra,Lung Sounds,Clear All Fields,45993926
5587147,474750,ZOI,2020-01-26 12:30:49.000,1,David Cox,Pupils-Left Eye,Reactive,40308460
5587148,547105,ZOI,2020-09-18 09:57:10.000,1,David Montemorra,Capillary Refill,2 seconds or less,45993935
5587149,474750,ZOI,2020-01-26 12:30:49.000,1,David Cox,Lung Sounds,Clear All Fields,40308462
5587150,475116,ZOI,2020-01-27 15:07:15.000,1,Matthew DeMenna,Lung Sounds,Clear All Fields,40337399

In [44]:
Vitals_Long=Vitals_Long[["Ticket_ID","VitalsName","VitalsValue"]]

In [45]:
Vitals_Long.drop_duplicates(inplace=True)

C:\Users\ggomare\AppData\Local\Temp\ipykernel_17072\4066817390.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Vitals_Long.drop_duplicates(inplace=True)

In [46]:
Vitals_Long

         Ticket_ID       VitalsName            VitalsValue
0           474750      Lung Sounds       Clear All Fields
2           474750      Lung Sounds  Diminished Lower Left
5           475116  Pupils-Left Eye               Reactive
6           474916     BP Diastolic                     86
7           475116           SPO2 %                     99
...            ...              ...                    ...
5587136     474750           SPO2 %                     77
5587137     547105            Pulse                    150
5587139     547105        Resp Rate                     40
5587145     474750     BP Diastolic                     90
5587150     475116      Lung Sounds       Clear All Fields

[4259476 rows x 3 columns]

In [63]:
Vitals_Long.to_csv("Vitals_Long.csv")

In [47]:
Treatment=pd.read_csv(r"C:\Users\ggomare\Downloads\Project Data-20230108T193142Z-001\Project Data\Data\Treatments.csv")

In [48]:
Treatment.columns

Index(['Ticket_ID', 'Treatment_Time', 'Treatment_Value', 'Occurrence'], dtype='object')

In [49]:
Treatment=Treatment[["Ticket_ID","Treatment_Value"]]

In [50]:
Treatment["Treatment_Value"]=Treatment["Treatment_Value"].astype(str)

In [51]:
Treatment.drop_duplicates(inplace=True)

In [52]:
Treatment['Treatment_Value']=Treatment.groupby(['Ticket_ID'])['Treatment_Value'].transform(lambda x : ','.join(x))

In [53]:
Treatment.drop_duplicates(inplace=True)

In [54]:
Treatment

         Ticket_ID                                    Treatment_Value
0           187752  Drug-Units-MG  3706021 Nemsis 3.3 ,Drug-Drug N...
4           187766  nan,Spinal Motion Restriction-Response-Unchang...
6           188116  Laceration Repair-Wound Description-Linear    ...
8           188470  Drug-Drug Name-Aspirin 81 mg/tab  A9150 CPT Co...
9           188702  Spinal Motion Restriction-Assessment-Negative ...
...            ...                                                ...
1047348     801165                 IV-Fluid Type-Lactated Ringers
1047862     540468  Chest Seal-Response to Treatment-Unchanged  99...
1048038     728052  Oxygen Delivery-Response-Improved  9916001 Nem...
1048356     766167  Oxygen Delivery-Response-Improved  9916001 Nem...
1048532     837543  IV-IV Cath. Site-Anticubal  Left:3913001 | Rig...

[115390 rows x 2 columns]

In [55]:
merged_data = pd.merge(Ticket_primary, Patient_Info,on="Ticket_ID")

In [56]:
merged_data1=pd.merge(merged_data, Impression,on="Ticket_ID")

In [57]:
merged_data2=pd.merge(merged_data1, Cont_History,on="Ticket_ID")

In [58]:
merged_data3=pd.merge(merged_data2, Medication,on="Ticket_ID")

In [59]:
merged_data4=pd.merge(merged_data3, Vitals_Long,on="Ticket_ID")

In [60]:
merged_data5=pd.merge(merged_data4, Treatment,on="Ticket_ID")

In [61]:
merged_data5

,Ticket_ID,Dispatch_Complaint,Primary_Complaint,Secondary_Complaint,Run_Disp,Patient_Weight_In_Lbs,Patient_Height_In_Inches,Patient_Age_Bucket,Impression_Value,Cond_History_Category,Heart_Failure_Flag,Diabetes_Flag,COPD_Flag,Pneumonia_Flag,Medication,VitalsName,VitalsValue,Treatment_Value
0,186888,DB,Difficutly Breathing,NaN,"Treated, Transferred Care to Transport Unit",220.0,NaN,75 Yrs+ Elderly+,General Illness- Describe in Narrative,COPD,0,0,0,0,"Amiodarone,Cardizem,Codeine,Lasix,Loperamide,L...",BP Systolic,152,IV-IV Cath. Site-Hand Left:3913021 | Right:39...
1,186888,DB,Difficutly Breathing,NaN,"Treated, Transferred Care to Transport Unit",220.0,NaN,75 Yrs+ Elderly+,General Illness- Describe in Narrative,COPD,0,0,0,0,"Amiodarone,Cardizem,Codeine,Lasix,Loperamide,L...",Pupils-Right Eye,Reactive,IV-IV Cath. Site-Hand Left:3913021 | Right:39...
2,186888,DB,Difficutly Breathing,NaN,"Treated, Transferred Care to Transport Unit",220.0,NaN,75 Yrs+ Elderly+,General Illness- Describe in Narrative,COPD,0,0,0,0,"Amiodarone,Cardizem,Codeine,Lasix,Loperamide,L...",Pupils-Left Eye,Reactive,IV-IV Cath. Site-Hand Left:3913021 | Right:39...
3,186888,DB,Difficutly Breathing,NaN,"Treated, Transferred Care to Transport Unit",220.0,NaN,75 Yrs+ Elderly+,General Illness- Describe in Narrative,COPD,0,0,0,0,"Amiodarone,Cardizem,Codeine,Lasix,Loperamide,L...",Position,Sitting,IV-IV Cath. Site-Hand Left:3913021 | Right:39...
4,186888,DB,Difficutly Breathing,NaN,"Treated, Transferred Care to Transport Unit",220.0,NaN,75 Yrs+ Elderly+,General Illness- Describe in Narrative,COPD,0,0,0,0,"Amiodarone,Cardizem,Codeine,Lasix,Loperamide,L...",Pulse,105,IV-IV Cath. Site-Hand Left:3913021 | Right:39...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359818,860295,FALL,Syncope / Fainting,NaN,Treated/Transferred Care to Transport Unit,150.0,NaN,26-64 Yrs Adults,Syncope,"A,Hypertension (High Blood Pressure)",0,0,0,0,"Flecainide,Lexapro,Metoprolol,Eliquis",Pupils-Right Eye,Reactive,"nan,IV-IV Successful-Yes ,IV-IV Size (Gauge..."
1359819,860295,FALL,Syncope / Fainting,NaN,Treated/Transferred Care to Transport Unit,150.0,NaN,26-64 Yrs Adults,Syncope,"A,Hypertension (High Blood Pressure)",0,0,0,0,"Flecainide,Lexapro,Metoprolol,Eliquis",BP Diastolic,86,"nan,IV-IV Successful-Yes ,IV-IV Size (Gauge..."
1359820,860295,FALL,Syncope / Fainting,NaN,Treated/Transferred Care to Transport Unit,150.0,NaN,26-64 Yrs Adults,Syncope,"A,Hypertension (High Blood Pressure)",0,0,0,0,"Flecainide,Lexapro,Metoprolol,Eliquis",Pulse,76,"nan,IV-IV Successful-Yes ,IV-IV Size (Gauge..."
1359821,860295,FALL,Syncope / Fainting,NaN,Treated/Transferred Care to Transport Unit,150.0,NaN,26-64 Yrs Adults,Syncope,"A,Hypertension (High Blood Pressure)",0,0,0,0,"Flecainide,Lexapro,Metoprolol,Eliquis",Resp Rate,18,"nan,IV-IV Successful-Yes ,IV-IV Size (Gauge..."
1359822,860295,FALL,Syncope / Fainting,NaN,Treated/Transferred Care to Transport Unit,150.0,NaN,26-64 Yrs Adults,Syncope,"A,Hypertension (High Blood Pressure)",0,0,0,0,"Flecainide,Lexapro,Metoprolol,Eliquis",BP Systolic,127,"nan,IV-IV Successful-Yes ,IV-IV Size (Gauge..."

In [62]:
dont you want to change vitalname to column? and put the value on relative column. Otherwise too many row!!! we should

SyntaxError: invalid syntax (3540080641.py, line 1)

In [ ]:
we should distinct the ticket id