In [4]:
import pandas as pd
import numpy as np

In [5]:
datatrain=pd.read_csv(r"C:\Users\ggomare\Documents\pre1\train.csv")

In [6]:
datatrain

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,132,06/25/2008,Trabzon,Other,FC,2,3.0,3.0,5.0,4,...,3.0,0,0,0,0,0,0,0,0,5787594.0
133,133,10/12/2006,İzmir,Big Cities,FC,4,5.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,9262754.0
134,134,07/08/2006,Kayseri,Other,FC,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,2544857.0
135,135,10/29/2010,İstanbul,Big Cities,FC,4,5.0,4.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,7217634.0
136,136,09/01/2009,İstanbul,Big Cities,FC,4,5.0,3.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,6363241.0

In [9]:
datatest=pd.read_csv(r"C:\Users\ggomare\Documents\pre1\test.csv")

In [10]:
datatest

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,01/05/2000,Antalya,Other,FC,5,5.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
99996,99996,07/18/2011,Niğde,Other,IL,1,2.0,4.0,3.0,1,...,1.0,3.0,5,0,0,0,4,0,0,0
99997,99997,12/29/2012,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,1,...,4.0,1.0,5,5,3,2,4,4,4,2
99998,99998,10/12/2013,İstanbul,Big Cities,FC,12,7.5,6.0,6.0,4,...,7.5,5.0,0,0,0,4,0,0,0,0
99999,99999,10/05/2010,İstanbul,Big Cities,IL,2,5.0,4.0,4.0,2,...,5.0,3.0,0,2,0,2,2,4,2,0

In [8]:
datatrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          137 non-null    int64
 1   Open Date   137 non-null    object
 2   City        137 non-null    object
 3   City Group  137 non-null    object
 4   Type        137 non-null    object
 5   P1          137 non-null    int64
 6   P2          137 non-null    float64
 7   P3          137 non-null    float64
 8   P4          137 non-null    float64
 9   P5          137 non-null    int64
 10  P6          137 non-null    int64
 11  P7          137 non-null    int64
 12  P8          137 non-null    int64
 13  P9          137 non-null    int64
 14  P10         137 non-null    int64
 15  P11         137 non-null    int64
 16  P12         137 non-null    int64
 17  P13         137 non-null    float64
 18  P14         137 non-null    int64
 19  P15         137 non-null    int64
 20  P16         137 non-null    int64
 21  P17         137 non-null    int64
 22  P18         137 non-null    int64
 23  P19         137 non-null    int64
 24  P20         137 non-null    int64
 25  P21         137 non-null    int64
 26  P22         137 non-null    int64
 27  P23         137 non-null    int64
 28  P24         137 non-null    int64
 29  P25         137 non-null    int64
 30  P26         137 non-null    float64
 31  P27         137 non-null    float64
 32  P28         137 non-null    float64
 33  P29         137 non-null    float64
 34  P30         137 non-null    int64
 35  P31         137 non-null    int64
 36  P32         137 non-null    int64
 37  P33         137 non-null    int64
 38  P34         137 non-null    int64
 39  P35         137 non-null    int64
 40  P36         137 non-null    int64
 41  P37         137 non-null    int64
 42  revenue     137 non-null    float64
dtypes: float64(9), int64(30), object(4)
memory usage: 46.1+ KB

In [32]:
dataset1=datatrain.drop(columns=["Id","Open Date","City","revenue"])

In [58]:
id=datatest["Id"]

In [59]:
datatest1=datatest.drop(columns=["Id","Open Date","City"])

In [60]:
datatest1.shape

(100000, 39)

In [61]:
datatest1=datatest1.drop(columns=["Type"])

In [64]:
datatest1

,City Group,P1,P2,P3,P4,P5,P6,P7,P8,P9,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,Other,1,4.0,4.0,4.0,1,2,5,4,5,...,2.0,3.0,0,0,0,0,0,0,0,0
1,Other,3,4.0,4.0,4.0,2,2,5,3,4,...,1.0,3.0,0,0,0,0,0,0,0,0
2,Big Cities,3,4.0,4.0,4.0,2,2,5,4,4,...,2.0,3.0,0,0,0,0,0,0,0,0
3,Other,2,4.0,4.0,4.0,2,3,5,4,5,...,2.0,3.0,0,4,0,0,0,0,0,0
4,Other,2,4.0,4.0,4.0,1,2,5,4,5,...,5.0,3.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Other,5,5.0,4.0,4.0,2,2,5,5,4,...,2.0,3.0,0,0,0,0,0,0,0,0
99996,Other,1,2.0,4.0,3.0,1,1,1,5,5,...,1.0,3.0,5,0,0,0,4,0,0,0
99997,Big Cities,4,5.0,4.0,4.0,1,2,5,3,4,...,4.0,1.0,5,5,3,2,4,4,4,2
99998,Big Cities,12,7.5,6.0,6.0,4,4,10,10,10,...,7.5,5.0,0,0,0,4,0,0,0,0
99999,Big Cities,2,5.0,4.0,4.0,2,2,5,5,5,...,5.0,3.0,0,2,0,2,2,4,2,0

In [33]:
dataset1

,City Group,Type,P1,P2,P3,P4,P5,P6,P7,P8,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,Big Cities,IL,4,5.0,4.0,4.0,2,2,5,4,...,2.0,3.0,5,3,4,5,5,4,3,4
1,Big Cities,FC,4,5.0,4.0,4.0,1,2,5,5,...,3.0,3.0,0,0,0,0,0,0,0,0
2,Other,IL,2,4.0,2.0,5.0,2,3,5,5,...,1.0,3.0,0,0,0,0,0,0,0,0
3,Other,IL,6,4.5,6.0,6.0,4,4,10,8,...,2.5,7.5,25,12,10,6,18,12,12,6
4,Other,IL,3,4.0,3.0,4.0,2,2,5,5,...,1.0,3.0,5,1,3,2,3,4,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Other,FC,2,3.0,3.0,5.0,4,2,4,4,...,2.0,3.0,0,0,0,0,0,0,0,0
133,Big Cities,FC,4,5.0,4.0,4.0,2,3,5,4,...,3.0,3.0,0,0,0,0,0,0,0,0
134,Other,FC,3,4.0,4.0,4.0,2,3,5,5,...,2.0,3.0,0,0,0,0,0,0,0,0
135,Big Cities,FC,4,5.0,4.0,5.0,2,2,5,5,...,3.0,3.0,0,0,0,0,0,0,0,0
136,Big Cities,FC,4,5.0,3.0,5.0,2,2,5,4,...,3.0,3.0,0,0,0,0,0,0,0,0

In [34]:
dataset1["City Group"].unique()

array(['Big Cities', 'Other'], dtype=object)

In [35]:
dataset1["City Group"].replace({
    'Big Cities':0,
    'Other':1
},inplace=True)

In [65]:
datatest1["City Group"].replace({
    'Big Cities':0,
    'Other':1
},inplace=True)

In [36]:
dataset1

,City Group,Type,P1,P2,P3,P4,P5,P6,P7,P8,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,IL,4,5.0,4.0,4.0,2,2,5,4,...,2.0,3.0,5,3,4,5,5,4,3,4
1,0,FC,4,5.0,4.0,4.0,1,2,5,5,...,3.0,3.0,0,0,0,0,0,0,0,0
2,1,IL,2,4.0,2.0,5.0,2,3,5,5,...,1.0,3.0,0,0,0,0,0,0,0,0
3,1,IL,6,4.5,6.0,6.0,4,4,10,8,...,2.5,7.5,25,12,10,6,18,12,12,6
4,1,IL,3,4.0,3.0,4.0,2,2,5,5,...,1.0,3.0,5,1,3,2,3,4,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,1,FC,2,3.0,3.0,5.0,4,2,4,4,...,2.0,3.0,0,0,0,0,0,0,0,0
133,0,FC,4,5.0,4.0,4.0,2,3,5,4,...,3.0,3.0,0,0,0,0,0,0,0,0
134,1,FC,3,4.0,4.0,4.0,2,3,5,5,...,2.0,3.0,0,0,0,0,0,0,0,0
135,0,FC,4,5.0,4.0,5.0,2,2,5,5,...,3.0,3.0,0,0,0,0,0,0,0,0
136,0,FC,4,5.0,3.0,5.0,2,2,5,4,...,3.0,3.0,0,0,0,0,0,0,0,0

In [37]:
dataset1["Type"].unique()

array(['IL', 'FC', 'DT'], dtype=object)

In [66]:
datatest1

,City Group,P1,P2,P3,P4,P5,P6,P7,P8,P9,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,1,1,4.0,4.0,4.0,1,2,5,4,5,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,3,4.0,4.0,4.0,2,2,5,3,4,...,1.0,3.0,0,0,0,0,0,0,0,0
2,0,3,4.0,4.0,4.0,2,2,5,4,4,...,2.0,3.0,0,0,0,0,0,0,0,0
3,1,2,4.0,4.0,4.0,2,3,5,4,5,...,2.0,3.0,0,4,0,0,0,0,0,0
4,1,2,4.0,4.0,4.0,1,2,5,4,5,...,5.0,3.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,5,5.0,4.0,4.0,2,2,5,5,4,...,2.0,3.0,0,0,0,0,0,0,0,0
99996,1,1,2.0,4.0,3.0,1,1,1,5,5,...,1.0,3.0,5,0,0,0,4,0,0,0
99997,0,4,5.0,4.0,4.0,1,2,5,3,4,...,4.0,1.0,5,5,3,2,4,4,4,2
99998,0,12,7.5,6.0,6.0,4,4,10,10,10,...,7.5,5.0,0,0,0,4,0,0,0,0
99999,0,2,5.0,4.0,4.0,2,2,5,5,5,...,5.0,3.0,0,2,0,2,2,4,2,0

In [38]:
from sklearn.preprocessing import OneHotEncoder

In [39]:
coder=OneHotEncoder()

In [45]:
dataset1=dataset1.drop("Type",axis=1)

In [46]:
dataset1.shape

(137, 38)

In [48]:
from sklearn.model_selection import train_test_split

In [50]:
labeldata=datatrain["revenue"]

In [53]:
trainx,testx,trainy,testy=train_test_split(dataset1,labeldata,test_size=0.20)

In [55]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPRegressor
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor

In [69]:
model1=RandomForestClassifier()
model1.fit(dataset1,labeldata)
pred1=model1.predict(datatest1)

In [72]:
final1=pd.DataFrame(pred1,columns=["Prediction"])
result1=pd.concat([id,final1],axis=1)
result1.to_csv("RandomForestClassifier.csv",index=False)