In [34]:
import pandas as pd
import numpy as np

In [35]:
vital_log=pd.read_csv(r"C:\Users\ggomare\Downloads\Vitals_Long.csv")

In [36]:
vital_log=vital_log.drop(columns=["Unnamed: 0"])

In [37]:
vital_log1=vital_log

In [38]:
vital_log1

         Ticket_ID       VitalsName            VitalsValue
0           474750      Lung Sounds       Clear All Fields
1           474750      Lung Sounds  Diminished Lower Left
2           475116  Pupils-Left Eye               Reactive
3           474916     BP Diastolic                     86
4           475116           SPO2 %                     99
...            ...              ...                    ...
4259471     474750           SPO2 %                     77
4259472     547105            Pulse                    150
4259473     547105        Resp Rate                     40
4259474     474750     BP Diastolic                     90
4259475     475116      Lung Sounds       Clear All Fields

[4259476 rows x 3 columns]

In [39]:
vital_log1["VitalsName"].value_counts()

BP Systolic            644955
BP Diastolic           635041
Pulse                  605310
SPO2 %                 482369
Resp Rate              407328
Lung Sounds            326342
Pupils-Right Eye       317200
Pupils-Left Eye        317156
Position               232565
Blood Glucose Level    188134
Capillary Refill        44937
Temperature             36781
ETCO2                   21358
Name: VitalsName, dtype: int64

In [42]:
vital_log1["SPO2 %"]=None
vital_log1.loc[vital_log1['VitalsName'] == 'SPO2 %', 'SPO2 %'] = vital_log1["VitalsValue"]
vital_log1

         Ticket_ID       VitalsName            VitalsValue SPO2 %
0           474750      Lung Sounds       Clear All Fields   None
1           474750      Lung Sounds  Diminished Lower Left   None
2           475116  Pupils-Left Eye               Reactive   None
3           474916     BP Diastolic                     86   None
4           475116           SPO2 %                     99     99
...            ...              ...                    ...    ...
4259471     474750           SPO2 %                     77     77
4259472     547105            Pulse                    150   None
4259473     547105        Resp Rate                     40   None
4259474     474750     BP Diastolic                     90   None
4259475     475116      Lung Sounds       Clear All Fields   None

[4259476 rows x 4 columns]

In [43]:
vital_log1["BP Diastolic"]=None
vital_log1.loc[vital_log1['VitalsName'] == 'BP Diastolic', 'BP Diastolic'] = vital_log1["VitalsValue"]
vital_log1

         Ticket_ID       VitalsName            VitalsValue SPO2 % BP Diastolic
0           474750      Lung Sounds       Clear All Fields   None         None
1           474750      Lung Sounds  Diminished Lower Left   None         None
2           475116  Pupils-Left Eye               Reactive   None         None
3           474916     BP Diastolic                     86   None           86
4           475116           SPO2 %                     99     99         None
...            ...              ...                    ...    ...          ...
4259471     474750           SPO2 %                     77     77         None
4259472     547105            Pulse                    150   None         None
4259473     547105        Resp Rate                     40   None         None
4259474     474750     BP Diastolic                     90   None           90
4259475     475116      Lung Sounds       Clear All Fields   None         None

[4259476 rows x 5 columns]

In [23]:
vital_log1["BP Diastolic"]=None
vital_log1.loc[vital_log1['VitalsName'] == 'BP Diastolic', 'BP Diastolic'] = vital_log1["VitalsValue"]
vital_log1

         Ticket_ID       VitalsName            VitalsValue SPO2 %
0           474750      Lung Sounds       Clear All Fields     99
1           474750      Lung Sounds  Diminished Lower Left     99
2           475116  Pupils-Left Eye               Reactive     99
3           474916     BP Diastolic                     86     99
4           475116           SPO2 %                     99     99
...            ...              ...                    ...    ...
4259471     474750           SPO2 %                     77     77
4259472     547105            Pulse                    150     99
4259473     547105        Resp Rate                     40     99
4259474     474750     BP Diastolic                     90     99
4259475     475116      Lung Sounds       Clear All Fields     99

[4259476 rows x 4 columns]

In [44]:
vital_log1["BP Systolic"]=None
vital_log1.loc[vital_log1['VitalsName'] == 'BP Systolic', 'BP Systolic'] = vital_log1["VitalsValue"]
vital_log1

,Ticket_ID,VitalsName,VitalsValue,SPO2 %,BP Diastolic,BP Systolic
0,474750,Lung Sounds,Clear All Fields,None,None,None
1,474750,Lung Sounds,Diminished Lower Left,None,None,None
2,475116,Pupils-Left Eye,Reactive,None,None,None
3,474916,BP Diastolic,86,None,86,None
4,475116,SPO2 %,99,99,None,None
...,...,...,...,...,...,...
4259471,474750,SPO2 %,77,77,None,None
4259472,547105,Pulse,150,None,None,None
4259473,547105,Resp Rate,40,None,None,None
4259474,474750,BP Diastolic,90,None,90,None
4259475,475116,Lung Sounds,Clear All Fields,None,None,None

In [45]:
vital_log1["Capillary Refill"]=None
vital_log1.loc[vital_log1['VitalsName'] == 'Capillary Refill', 'Capillary Refill'] = vital_log1["VitalsValue"]
vital_log1

,Ticket_ID,VitalsName,VitalsValue,SPO2 %,BP Diastolic,BP Systolic,Capillary Refill
0,474750,Lung Sounds,Clear All Fields,None,None,None,None
1,474750,Lung Sounds,Diminished Lower Left,None,None,None,None
2,475116,Pupils-Left Eye,Reactive,None,None,None,None
3,474916,BP Diastolic,86,None,86,None,None
4,475116,SPO2 %,99,99,None,None,None
...,...,...,...,...,...,...,...
4259471,474750,SPO2 %,77,77,None,None,None
4259472,547105,Pulse,150,None,None,None,None
4259473,547105,Resp Rate,40,None,None,None,None
4259474,474750,BP Diastolic,90,None,90,None,None
4259475,475116,Lung Sounds,Clear All Fields,None,None,None,None

In [55]:
colu=(vital_log1['VitalsName'].unique())

In [56]:
colu

array(['Lung Sounds', 'Pupils-Left Eye', 'BP Diastolic', 'SPO2 %',
       'Resp Rate', 'Pulse', 'BP Systolic', 'Pupils-Right Eye',
       'Position', 'Blood Glucose Level', 'Temperature',
       'Capillary Refill', 'ETCO2'], dtype=object)

In [57]:
colu1=['Lung Sounds', 'Pupils-Left Eye',
       'Resp Rate', 'Pulse',  'Pupils-Right Eye',
       'Position', 'Blood Glucose Level', 'Temperature', 'ETCO2']

In [58]:
for i in colu1:
    vital_log1[i]=None
    vital_log1.loc[vital_log1['VitalsName'] == i, i] = vital_log1["VitalsValue"]

In [59]:
vital_log1

,Ticket_ID,VitalsName,VitalsValue,SPO2 %,BP Diastolic,BP Systolic,Capillary Refill,Lung Sounds,Pupils-Left Eye,Resp Rate,Pulse,Pupils-Right Eye,Position,Blood Glucose Level,Temperature,ETCO2
0,474750,Lung Sounds,Clear All Fields,None,None,None,None,Clear All Fields,None,None,None,None,None,None,None,None
1,474750,Lung Sounds,Diminished Lower Left,None,None,None,None,Diminished Lower Left,None,None,None,None,None,None,None,None
2,475116,Pupils-Left Eye,Reactive,None,None,None,None,None,Reactive,None,None,None,None,None,None,None
3,474916,BP Diastolic,86,None,86,None,None,None,None,None,None,None,None,None,None,None
4,475116,SPO2 %,99,99,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4259471,474750,SPO2 %,77,77,None,None,None,None,None,None,None,None,None,None,None,None
4259472,547105,Pulse,150,None,None,None,None,None,None,None,150,None,None,None,None,None
4259473,547105,Resp Rate,40,None,None,None,None,None,None,40,None,None,None,None,None,None
4259474,474750,BP Diastolic,90,None,90,None,None,None,None,None,None,None,None,None,None,None
4259475,475116,Lung Sounds,Clear All Fields,None,None,None,None,Clear All Fields,None,None,None,None,None,None,None,None

In [60]:
vital_log1.isnull().sum()

Ticket_ID                    0
VitalsName                   0
VitalsValue                  9
SPO2 %                 3777107
BP Diastolic           3624435
BP Systolic            3614521
Capillary Refill       4214539
Lung Sounds            3933137
Pupils-Left Eye        3942322
Resp Rate              3852148
Pulse                  3654166
Pupils-Right Eye       3942278
Position               4026912
Blood Glucose Level    4071343
Temperature            4222695
ETCO2                  4238118
dtype: int64

In [62]:
vital_log1.fillna(0,inplace=True)

In [63]:
vital_log1

,Ticket_ID,VitalsName,VitalsValue,SPO2 %,BP Diastolic,BP Systolic,Capillary Refill,Lung Sounds,Pupils-Left Eye,Resp Rate,Pulse,Pupils-Right Eye,Position,Blood Glucose Level,Temperature,ETCO2
0,474750,Lung Sounds,Clear All Fields,0,0,0,0,Clear All Fields,0,0,0,0,0,0,0,0
1,474750,Lung Sounds,Diminished Lower Left,0,0,0,0,Diminished Lower Left,0,0,0,0,0,0,0,0
2,475116,Pupils-Left Eye,Reactive,0,0,0,0,0,Reactive,0,0,0,0,0,0,0
3,474916,BP Diastolic,86,0,86,0,0,0,0,0,0,0,0,0,0,0
4,475116,SPO2 %,99,99,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4259471,474750,SPO2 %,77,77,0,0,0,0,0,0,0,0,0,0,0,0
4259472,547105,Pulse,150,0,0,0,0,0,0,0,150,0,0,0,0,0
4259473,547105,Resp Rate,40,0,0,0,0,0,0,40,0,0,0,0,0,0
4259474,474750,BP Diastolic,90,0,90,0,0,0,0,0,0,0,0,0,0,0
4259475,475116,Lung Sounds,Clear All Fields,0,0,0,0,Clear All Fields,0,0,0,0,0,0,0,0

In [64]:
colus=['BP Diastolic', 'SPO2 %',
       'Resp Rate', 'Pulse', 'BP Systolic', 
      'Blood Glucose Level', 'Temperature', 'ETCO2']

In [65]:
vital_log2=vital_log1

In [66]:
for i in colus:
    vital_log2 = vital_log2.groupby('Ticket_ID')[i].sum().reset_index().rename(columns={'value': 'sum'})

TypeError: can only concatenate str (not "int") to str

In [27]:
vital_log1["Blood Glucose Level"]= 10000
vital_log1.loc[vital_log1['VitalsName'] == 'Blood Glucose Level', 'Blood Glucose Level'] = vital_log1["VitalsValue"]
vital_log1

,Ticket_ID,VitalsName,VitalsValue,SPO2 %,Blood Glucose Level
0,474750,Lung Sounds,Clear All Fields,99,10000
1,474750,Lung Sounds,Diminished Lower Left,99,10000
2,475116,Pupils-Left Eye,Reactive,99,10000
3,474916,BP Diastolic,86,99,10000
4,475116,SPO2 %,99,99,10000
...,...,...,...,...,...
4259471,474750,SPO2 %,77,77,10000
4259472,547105,Pulse,150,99,10000
4259473,547105,Resp Rate,40,99,10000
4259474,474750,BP Diastolic,90,99,10000
4259475,475116,Lung Sounds,Clear All Fields,99,10000

In [30]:
vital_log1["Blood Glucose Level"]=vital_log1["Blood Glucose Level"].apply(lambda x:120 if x==10000 else x)

In [31]:
vital_log1

,Ticket_ID,VitalsName,VitalsValue,SPO2 %,Blood Glucose Level
0,474750,Lung Sounds,Clear All Fields,99,120
1,474750,Lung Sounds,Diminished Lower Left,99,120
2,475116,Pupils-Left Eye,Reactive,99,120
3,474916,BP Diastolic,86,99,120
4,475116,SPO2 %,99,99,120
...,...,...,...,...,...
4259471,474750,SPO2 %,77,77,120
4259472,547105,Pulse,150,99,120
4259473,547105,Resp Rate,40,99,120
4259474,474750,BP Diastolic,90,99,120
4259475,475116,Lung Sounds,Clear All Fields,99,120

In [ ]:
vital_log1["VitalsValue"]=vital_log1["VitalsValue"].apply(lambda x: 180 if x=="Hi" else(120 if x=="UTO" else(60 if x=="Lo" else x)))